
header{
    display: block;
    background-color:rgb(173, 206, 207);
    padding-bottom: .5%;
}
h1 {
    text-align: center;
}
ul.navbar-items li{
    display:inline;
}
ul.navbar-items{
    min-width: 696px;
	padding-top: 20px;
    
}
h2 {
    text-align: center;
}
#zoe {
    float: right;    
    margin: 50px 100px 0 100px;
}
p {
    text-align: justify;
    text-indent: 40px;
    font-size: 25px;
    font-family: georgia;
    
    line-height: 50px;
    width: 650px;
    margin-left: 100px;
    margin-top: 100px;
}
#footer1 {
    margin-top: 100px
}
#footer2 {
    margin-top: 400px;
}
#footer3 {
    margin-top: 200px;
}
footer {
    display: block;
    background-color:rgb(173, 206, 207);
    padding: .5%;
    margin-top: 300px;
}
#firstpic {
    float: right;    
    margin: 50px 100px 0 100px;
}
#secondpic {
    float: right;    
    margin: 50px 100px 0 100px;
}
#thirdpic{
    float: right;
    margin: 50px 100px 0 100px;
}